!DOCTYPE html>
<html lang="en-US">
<head>
    <!--This is the homepage test-->
<h1>#f0cHomepage</h1>

Title:

Use: 

Author:

School/Term: 

Developed:

Tested: 

-->
               <meta charset="utf-8">
               <title>Page Title</title>
</head>
<main>Hello there!</main>
<body>
#f0c color
</body>
<footer>Makayla Cambiano macnnp@umsystem.edu</footer>
</html>